@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply scroll-smooth text-sm;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: fit-content;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

#projects {
    scroll-snap-align: center;
}

#testimonials {
    scroll-snap-align: center;
}

#skills {
    scroll-snap-align: center;
}

#contact {
    scroll-snap-align: center;
}